<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>EGSS.CustomerManagementService</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAPI</display-name>
    <servlet-name>UserAPI</servlet-name>
    <servlet-class>EGSS.CustomerManagementService.servlet.UserAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAPI</servlet-name>
    <url-pattern>/UserAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAPI</display-name>
    <servlet-name>LoginAPI</servlet-name>
    <servlet-class>EGSS.CustomerManagementService.servlet.LoginAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAPI</servlet-name>
    <url-pattern>/LoginAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneratePwAPI</display-name>
    <servlet-name>GeneratePwAPI</servlet-name>
    <servlet-class>EGSS.CustomerManagementService.servlet.GeneratePwAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratePwAPI</servlet-name>
    <url-pattern>/GeneratePwAPI</url-pattern>
  </servlet-mapping>
</web-app>